<?xml version="1.0" encoding="UTF-8"?>
<!--
    Command at root: vendor\bin\phpunit
    Test a specific suite: vendor\bin\phpunit - -testsuite books
    Test a specific case of a specific suite: vendor\bin\phpunit - -testsuite users - -filter testAddBook
-->
<phpunit bootstrap="config.php" colors="true" verbose="true" stopOnFailure="false">
    <testsuites>

        <testsuite name="books">
            <directory>tests/unit/BooksTest.php</directory>
        </testsuite>

        <testsuite name="users">
            <directory>tests/unit/UsersTest.php</directory>
        </testsuite>

    </testsuites>
</phpunit>