<?xml version="1.0" encoding="UTF-8"?>
<!--
    Command at root         : vendor\bin\phpunit
    Test a specific suite   : vendor\bin\phpunit - -testsuite books
    Test a specific case    : vendor\bin\phpunit - -filter testAddBook
-->
<phpunit bootstrap="config.php" colors="true" verbose="true" stopOnFailure="false" beStrictAboutOutputDuringTests="true" beStrictAboutTestSize="true">
    <testsuites>

        <testsuite name="books">
            <file>tests/unit/BooksTest.php</file>
        </testsuite>

        <testsuite name="users">
            <file>tests/unit/UsersTest.php</file>
        </testsuite>

        <testsuite name="db">
            <file>tests/unit/DbTest.php</file>
        </testsuite>

    </testsuites>


    <php>
        <var name="DB_DSN" value="mysql:dbname=myguestbook;host=localhost" />
        <var name="DB_USER" value="root" />
        <var name="DB_PASSWORD" value="" />
        <var name="DB_DBNAME" value="guestbook" />
    </php>

</phpunit>