<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 center-block">
                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Sign in</h3>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <div class="registration-form">
                                <div class="form-group">
                                    <label class="sr-only" for="form-email">Email</label>
                                    <input type="text" placeholder="Email..." class="form-control" id="form-email" ng-model="email">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-password">Password</label>
                                    <input type="password" placeholder="Password..." class="form-control" id="form-password" ng-model="password">
                                </div>

                                <div class="alert alert-danger" ng-if="PostDataResponse.success == false">
                                    <strong>Error.</strong> {{PostDataResponse.message}}
                                </div>

                                <button ng-click="signin()" class="btn">Sign me in!</button>
                                <a ng-href="/openlibrary.eu/register" id="signup" class="btn-link float-sm-right" style="cursor: pointer;">Sign Up!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>