<div class="container" ng-init="getProfile()">
    <div class="row">
        <div class="col-lg-4">
           FirstName: {{profile.firstname}}
        </div>
        <div class="col-lg-4">
           LastName: {{profile.lastname}}
        </div>
    </div>
    <h1>I have them!</h1>
    <div class="row">
        <div class="col-lg-4" ng-repeat="book in bookCase.rent" ng-include="'client/app/views/books/book.html'">
        </div>
    </div>

    <h1>Books I have read!</h1>
    <div class="row">
        <div class="col-lg-4" ng-repeat="book in bookCase.read" ng-include="'client/app/views/books/book.html'">
        </div>
    </div>
</div>