
<div class="jumbotron text-center">
        <h1>How it Works</h1>
</div>

<div class="container">
        <div class="row">
                <div class="col-sm-4">
                  <h3><u>What is OpenLibrary</u></h3>
                  <p>OpenLibrary helps you create a personal Library catalog of books. Books you 've read and books you are willing to give. Also, lets you get books you are looking for from others. </p>
                </div>
                <div class="col-sm-4">
                  <h3><u>Search for a book</u></h3>
                  <p>Account creating is only required when adding books to your personal Library or when you want to get a book. Just click on "Search books" and enter the words into the Search box. The result list will show you matches. Click on the edition you want. </p>
                </div>
                <div class="col-sm-4">
                  <h3><u>Easy to join</u></h3>
                  <p>To sign up visit our home page and create an account using your e-mail. To sign in, fill in your e-mail and password. Then click the button "Sign me in!". There' s no cost to join the website! </p>
                </div>
        </div>
        <div class="row justify-content-md-center">
                <div class="col-sm-4">
                   <h3><u>What' s on your Library</u></h3>
                   <p>Adding books is easy. After searching a book, click on the edition you want to add it to your profile by clicking the buttons "I read it" or "I rent it". OpenLibrary gets its books from Goooglebooks.</p>
                </div>
                <div class="col-sm-4">
                   <h3><u>Ask for a book</u></h3>
                   <p>Once you find a tittle, click the "I want it" button. OpenLibrary then gives you a list of the book owners e-mails, to contact with and ask the book you 're interesting in. </p>
                </div>
        </div>
</div>
