<div class="container">

    <div id="searchBox" class="row searchbox">
        <div class="searchfield  center-block">
            <div class="inner-addon right-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" ng-model="search" ng-model-options="{debounce: 800}" ng-change="getData(true)" class="form-control" placeholder="Search your book" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3 ng-if="total > 0">Total results for "{{search}}": {{total}}</h3>
        </div>
    </div>

    <div class="center-block" ng-show="books.length < 1 && !busy">
        Please search a book...
    </div>

    <div class="row" infinite-scroll="getData()" infinite-scroll-disabled='busy || !more' infinite-scroll-distance="0">
        <div class="col-lg-4" ng-repeat="book in books" >

            <div class="card h-100">
                <a class="book-image center-block" href="#book/{{book.id}}">
                    <img class="card-img-top" src="{{book.thumbnail}}" alt="">
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#book/{{book.id}}">{{book.title}}</a>
                    </h4>
                    <p class="card-text" ng-bind-html="book.description.slice(0,144)"></p>
                </div>
            </div>

        </div>
    </div>


    <div class="center-block" ng-show="(more && total > 0) || busy">
        <i class="fa fa-spinner fa-pulse fa-2x"></i>
    </div>

</div>