<div class="container">
    <div id="searchBox" class="row searchbox">
        <div class="searchfield  center-block">
            <div class="inner-addon right-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" ng-model="search" ng-change="getBooks()"  my-enter="getBooks()" ng-model-options='{ debounce: 500 }' class="form-control" placeholder="Search your book" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h3 ng-if="searchResult.total>0">Total Results : {{searchResult.total}}</h3>
        </div>
    </div>
    <div class="row" infinite-scroll="getBooksPaginated()" infinite-scroll-disabled='loadingBooks || offset >= searchResult.total' infinite-scroll-distance="1">
        <div class="col-lg-4" ng-repeat="book in searchResult.books" ng-include="'client/app/views/books/book.html'">
        </div>
    </div>
</div>