<div class="container" ng-init="getBook();addButtonAction('showBookAction')" style="margin-top: 80px">
    <div class="row">
        <div class="result col-lg-4">
            <div class="card h-100">
                <a class="book-image center-block" href="#book/{{book.id}}">
                    <img class="result card-img-top" src="{{book.thumbnail}}" alt="">
                </a>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="col-lg-12">
                <h1>{{book.title}}</h1>
                <h3>Author: {{book.author}}</h3>
                <br><b>Language:</b> {{book.language}}
                <br><b>Pages:</b> {{book.pages}}
                <br><b>Published:</b> {{book.published}}
                    <br><b>Publisher:</b> {{book.publisher}}
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 20px;margin-top: 40px">
        <div class="col-lg-12" ng-bind-html="book.description">
        </div>
    </div>

    <div class="alert alert-success" ng-show="PostDataResponse.success == true">
        <strong>Success!</strong> {{ PostDataResponse.message }}
    </div>

    <div class="alert alert-danger" ng-show="PostDataResponse.success == false">
        <strong>Warning!</strong> {{ PostDataResponse.message }}
    </div>

    <div class="row" ng-show="book.buttons">
        <div class="col-md-4">
            <button type="button" style="margin-bottom: 15px!important;cursor: pointer!important;" class="btn btn-primary center-block" ng-click="action('read');addButtonAction('readAction')">I read it!</button>
        </div>
        <div class="col-md-4">
            <button type="button" style="margin-bottom: 15px!important;cursor: pointer!important;" class="btn btn-success center-block" ng-click="action('rent');addButtonAction('rentAction')">I rent it!</button>
        </div>
        <div class="col-md-4">
            <button type="button" data-toggle="modal" data-target="#forRentModal" style="margin-bottom: 15px!important;cursor: pointer!important;" class="btn btn-warning center-block">I want it!</button>
        </div>
    </div>
    <div class="alert alert-info" ng-show="!book.buttons">
        <strong>Info!</strong> Please login to see the buttons!
    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="forRentModal" tabindex="-1" role="dialog" aria-labelledby="forRent" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 100%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Choose From</h5>
                <button type="button" class="close" data-dismiss="modal" style="cursor: pointer" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                     <div class="col-lg-12" ng-repeat="userFrom in usersFrom">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="{{userFrom.url}}">{{userFrom.name}}</a>
                            </div>
                            <div class="col-md-3">
                              <span>{{userFrom.email}}</span>
                            </div>
                            <div class="col-md-3">
                                <span>{{userFrom.address}}</span>
                            </div>
                            <div class="col-md-3">
                                <button type="button" data-dismiss="modal" style="cursor:pointer" ng-click="action('want');addButtonAction('wantAction')" class="btn btn-primary">Get It!</button>
                            </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>