<div  class="row">
    <div class="row" style="margin-top: 40px">
        <div class="col-lg-4">
            <a type="button" href="login" style="cursor: hand" class="btn btn-primary center-block">Login!</a>
        </div>
        <div class="col-lg-4">
            <a type="button" href="register" style="cursor: hand" class="btn btn-success center-block" >Signup!</a>
        </div>
        <div class="col-lg-4">
            <a type="button" href="searchbooks" style="cursor: hand" class="btn btn-warning center-block" >Search book1!</a>
        </div>
    </div>
</div>
