

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register">Signup</a>
            </li>

        </ul>
    </div>
</nav>

<main role="main">

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Welcome!</h1>
            <p>Give away books you no longer need in exchange for books you really want.</p>
            <p>Search for a book here!</p>
            <p><a class="btn btn-primary btn-lg" href="searchbooks" role="button">Search!</a></p>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <h2>Search for a book</h2>
                <p>Browse a book by ...</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Give a book</h2>
                <p>Mail a book to others</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get a book</h2>
                <p>You can get any book you want from anyone</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr>

    </div>

</main>

<footer class="container">
    <p></p>
</footer>
